.App {
}
.main-layout {
  padding: 10px;
  min-height: 100vh;
  background-color: #111111;
}
.footer {
  min-height: 30vh;
}

.ui.table thead tr:first-child > th:first-child {
  position: sticky !important;
  top: 0;
  z-index: 2;
}

.table-header {
  display: inline;
}

.checkbox {
  margin-right: 10px;
}

.header-active {
  border-bottom: solid;
  border-bottom-color: #ffff;
}

.ui.grid .main-header {
  padding: 10px;
  margin-top: 0.5px;
  text-align: center;
}

.ui.search .prompt {
  border-radius: 10px !important;
  width: 425px;
  height: 3.5rem;
}
