.App {
}
.main-layout {
  /* padding: 10px; */
  min-height: 100vh;
  background-color: #111111;
}
.footer {
  min-height: 30vh;
}

.ui.table thead tr:first-child > th:first-child {
  position: sticky !important;
  top: 0;
  z-index: 2;
}

.table-header {
  display: inline;
}
